<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>Tableau de bord</title>
</head>
<body>
    <nav>
        <div class="container">
            <h2>Menu</h2>
            <ul>
                <li><a href="/">page precedente</a></li>
                <li><a href="/api-docs">documentation API</a></li>
                <li><a href="/catways">Gestion des Catways</a></li>
                <li><a href="/users/logout">Se déconnecter</a></li>
            </ul>
        </div>
        <header class="container">
            <h1>Tableau de bord</h1>
            <p>Date du jour : <%= today %> </p>
        </header>
        <section class="container" onclick="window.location='/users';" style="cursor :pointer">
                <h2>Bienvenue : <%= user.username %></h2>
                <p>Email : <%= user.email %></p>
            
        </section>
        <section>
            <h2>Reservation en cours</h2>
            <table>
                <thead>
                    <tr>
                        <th>N°Catway</th>
                        <th>Client</th>
                        <th>Bateau</th>
                        <th>Début</th>
                        <th>Fin</th>
                    </tr>
                </thead>
                <tbody>
                    <% reservations.forEach(res => { %>
                        <tr onclick="window.location='/reservations';">
                            <td><%= res.catwayNumber %></td>
                            <td><%= res.clientName %></td>
                            <td><%= res.boatName %></td>
                            <td><%= new Date(res.startDate).toLocaleDateString() %></td>
                            <td><%= new Date(res.endDate).toLocaleDateString() %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
        <table>
            <td>
        
            </td>
        </table>
    </nav>
</body>
</html>


