<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Gestion des reservations</title>
</head>
<body>
    <h1>Tableau de bord des reservations</h1>

    <a href="/reservations/add" class="btn-add">Ajouter une reservation</a>

    <table class="container-table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Nom Bateau</th>
                <th>date de début</th>
                <th>date de fin</th>
            </tr>
        </thead>
        <tbody>
        <% reservations.forEach(reservation => { %>
        <tr>
            <td><%= reservation.catwayNumber %></td>
            <td><%= reservation.clientName %></td>
            <td><%= reservation.boatName %></td>
            <td><%= new Date(reservation.startDate).toLocaleDateString('fr-FR') %></td>
            <td><%= new Date(reservation.endDate).toLocaleDateString('fr-FR') %></td>
            <td>
                <a href="/reservations/<%= reservation._id %>">Voir</a>
                
                <form action="/reservations/<%= reservation._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button onclick="deleteReservation('<%= reservation._id %>')">Supprimer</button>
                </form>
            </td>
        </tr>
    <% }); %>
</tbody>
    </table>
</body>
</html>